* {box-sizing: border-box;
font-family:"roboto",sans-serif ;}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:  100%;
    overflow-x: hidden;}

.seccion-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
    padding: 25px;
    gap: 25px;
    background-color: #1f2937;
    flex:  1 1 auto;}

.header {display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 100%;}

.navegador  {
    display: flex;
    gap: 40px;
   
    list-style: none;}
.navegador a {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}

.logo {
    font-size: 35px;
    color: #f9faf8;
    font-weight: 900;
    text-decoration: none;}
    
.informacion-imagen{
    display: flex;
    justify-content: center;
    color: #f9faf8;
    gap: 100px;
align-items: center; }

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 70%;}

.informacion> p:nth-child(1) { font-size: 48px;
    font-weight: 900;}
.informacion> p:nth-child(2) { font-size: 18px;}


    
.seccion-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    flex: 1 1 100%;
    margin: 30px;
    align-content: center;
    }

.titulo-informacion{
    flex: 1 0 100%;
    color: #1f2937;
    text-align: center;
    font-size: 36px;
font-weight: 900;
padding: 20px;}

.profugos {
    flex: 1 1 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    }

.imagen-profugos {
    width: 200px;
    height: 200px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 10px;
    flex: 0 0 auto;}

.texto-profugos{
    color: #1f2937;
    width: 200px;
    text-align: center;
    flex-grow: 1;
    word-wrap: break-word}

.seccion-3 {
    background-color: #e5e7eb;
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion-3 p:nth-child(2){
    text-align: end;}
.seccion-3 p:nth-child(1){
    text-align: start;
    font-size: 36px;
    font-weight: 300;

}
.seccion-3 p {
    padding: 0px 20px 0px 20px;
    font-size: 25px;
    font-style: italic;
}

.seccion-4 {
    display: flex;
    flex: 1 1 auto;
    margin: 100px 150px 100px 150px;
    justify-content: center;
    align-items: center;
    }

.cuadradito-azul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    gap: 50px;
    padding: 30px 70px 30px 70px;
}
.cuadradito-azul button,.informacion button {
    background-color: #3882f6;
    padding: 8px 28px 8px 28px;
    border: #3882f6;
    border-radius: 4PX;
    
}
.cuadradito-azul button {border: white 1px solid;}
.cuadradito-azul p:nth-child(1) {
    font-weight: 900;
    color: white;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}
.cuadradito-azul p:nth-child(2) {
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 16px;}
.cuadradito-azul div:nth-child(2) {
    flex: 1 0 25%;
}

.cuadradito-azul button, .informacion button  { color: white;
    font-weight: 600;
}

.pie {
    background-color: #1f2937;
    flex: 1 1 5%;
    padding: 50px;
    text-align: center;
    color: white;
}
