* {box-sizing: border-box;
font-family:"roboto",sans-serif ;}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:  100%;
    overflow-x: hidden;}

.seccion-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
    padding: 25px;
    gap: 25px;
    background-color: #1f2937;
    flex:  0 auto;}

.header {display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 100%;}

.navegador {
    display: flex;
    gap: 20px;
    font-size: 24px;
    color: #f9faf8;
    list-style: none;}

.logo {
    font-size: 35px;
    color: #f9faf8;
    font-weight: 900;
    text-decoration: none;}
    
.informacion-imagen{
    display: flex;
    justify-content: center;
    color: #f9faf8;
    gap: 100px; }

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 70%;}

img {
    width: 390px; /* width of container */
    height: 290px; /* height of container */
    object-fit: cover;
    object-position: 0px -50px; /* try 20px 10px */ }
    
.seccion-2 {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    
    margin: 30px;
    align-content: center;
    }

.titulo-informacion{
    flex: 1 0 100%;
    color: #205fb6;
    text-align: center;
    font-size: 24px;
font-weight: 900;
padding: 20px;}

.profugos {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    }

.imagen-profugos {
    width: 100px;
    height: 100px;
    border-color: #205fb6;
    border-style: solid;
    border-radius: 10px;
    flex: 0 0 auto;}

.texto-profugos{
    color: #205fb6;
    width: 200px;
    text-align: center;
    flex-grow: 1;
    word-wrap: break-word}

.seccion-3 {
    background-color: #e5e7eb;
    flex: 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion-3 p:nth-child(2){
    text-align: end;
}
.seccion-3 p:nth-child(1){
    text-align: start;
    font-style: italic;
    font-size: 30px;
}
.seccion-3 p {
    padding: 0px 20px 0px 20px;
    font-size: 25px;
}

.seccion-4 {
    display: flex;
    flex: 1 0 auto;
    margin: 100px 150px 100px 150px;
    justify-content: center;
    align-items: center;
    }

.cuadradito-azul {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: #4880ce;
    border-radius: 10px;
    gap: 50px;
    padding: 30px 100px 30px 100px;
    
}
.cuadradito-azul button {
    background-color: #4880ce;
    border: white 1px solid;
    padding: 8px 28px 8px 28px;
    border-radius: 4PX;

}

.cuadradito-azul p:nth-child(1) {
    font-weight: 900;
    color: white;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}
.cuadradito-azul p:nth-child(2) {
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 16px;}

.pie {
    background-color: #1f2937;
    flex: 1 1 20%;
    padding: 50px;
    text-align: center;
    color: white;
}
